body { width: 100dvw; height: 100dvh; padding: 0; margin: 0; background: black }
#unity-container { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: flex; flex-direction: column; }
#unity-canvas { width: 100vw; height: 100vh; max-width: calc(100vh * (1280 / 720)); max-height: calc(100vw * (720 / 1280)); background: black }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-dark.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-footer { position: relative; padding: 5px 10px; text-align: right; }
#unity-build-title { color: white; line-height: 20px; font-family: arial; font-size: 12px }
#footLink { color: gold; }
